<main>
  <div class="container px-5 px-sm-0">
    <div id="error_explanation">
      <% if @book.errors.any? %>
        <h3><%= @book.errors.count %>errors prohibited this obj from being saved: </h3>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="row">


      <%= render 'users/form', user: @user,book: @book %>   <!--form共有部分-->

      <div class="col-md-8 offset-md-1">
        <h2>Groups</h2>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th></th>
              <th>グループ名</th>
              <th>紹介文</th>
              <th></th>
              <th colspan="4"></th>
            </tr>
          </thead>
          <tbody>
            <% @groups.each do |group| %>
              <tr>
                <th>
                  <%= image_tag(group.get_group_image(80,80)) %>
                </th>
                <th><%= link_to group.name,group_path(group.id) %></th>
                <th><%= group.introduction %></th>
                <th><%= link_to "Edit",edit_group_path(group.id),class: "btn btn-sm btn-success edit_book_11021" %></th>
                <th colspan="4"></th>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</main>

