<main>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <!--form共有部分-->
      <%= render 'users/form', user: @user,book: @book %>

      <div class="col-md-8 offset-md-1">
        <h2>Book Detail</h2>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>グループ名</th>
              <th>紹介文</th>
              <th>メンバー</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>
                  <%= link_to group_path(@group.id) do %>
                    <%= image_tag @group.get_group_image(80,80) %><br>
                  <% end %>
                </td>
                <td><%= @group.name %></td>
                <td><%= @group.introduction %></td>
                <!--メンバー表示-->
                <td>
                  <%# @users.each do |user| %>
                    メンバー表示[作成中]<%#= user.name %>
                  <%# end %>
                </td>
                <!--joinボタン-->
                <td>
                  <% if @group.join_by?(@user) %>
                    <%= link_to "Leave this group",groupuser_path,method: :delete,class: "btn btn-danger" %>    
                  <% else %>
                    <%= link_to "Join this group",groupuser_path,method: :patch,class: "btn btn-success" %>    
                  <% end %>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>

